.list {
  background-color: #f8f8ff;
  background-size: cover;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 45px;
  padding-bottom: 45px;
  margin: 15px;
  border-radius: 8px;
}

.img {
  height: 120px;
  width: 120px;
}

.name {
  color: #e73959;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

.s {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars {
  height: 20px;
  margin-right: 4px;
}

.st {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 12px;
}
